<h1>Food Items</h1>

<div *ngIf="(!foodItems || !foodItems.length)">
    <p>No items yet :(</p>
</div>
<button class="btn" *ngIf="deletedItem" (click)="undoDelete()">Undo Delete</button>

<div class="btn-group mb-3" role="group" aria-label="shortDate">
  <label>Sort:</label>
   <button type="button" class="btn btn-secondary ml-3" (click)="setSort('name')" [class.active]="sort == 'name'">Name</button>
    <button type="button" class="btn btn-secondary" (click)="setSort('create')" [class.active]="sort == 'create'">Added Date</button>
    <button type="button" class="btn btn-secondary" (click)="setSort('expiration')" [class.active]="sort == 'expiration'">Expiration Date</button>
     </div>
  <div class="mb-3">
    <button type="button" class="btn btn-secondary" [routerLink]="['/newitem']"><i class="fa fa-plus" aria-hidden="true"></i> Add Food Item</button>
  </div>
  
<div *ngFor="let foodItem of foodItems;" class="row card-columns">
    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{foodItem.Name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Added: {{foodItem.CreatedDate | date:'shortDate'}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Expires: {{foodItem.ExpirationDate | date:'shortDate'}}</h6>
        <button [routerLink]="['/newitem', foodItem.ID]" class="btn btn-primary mr-2" >Edit</button>
        <button class="btn btn-danger" (click)="delete(foodItem)">Delete</button>
      </div>
    </div>
</div>
  </div>